apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: cloudflare-api-key-secret
  namespace: '{{ cert_manager_namespace }}'
data:
  email: '{{ cloudflare_email | b64encode }}'
  api-token: '{{ cloudflare_token | b64encode }}'
